spring.application.name=PAWSdemo
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false

logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.Type=TRACE
logging.level.org.springframework.security=DEBUG

backblaze.b2.applicationKey=
backblaze.b2.applicationKeyId=
backblaze.b2.bucketId=
backblaze.b2.fileUrl=
spring.servlet.multipart.max-file-size=20MB