<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>PAWS - upload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body class="bg-dark-subtle">
<div class="d-flex flex-column flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom gap-3 bg-dark-subtle">
    <h2>Vytvoř album</h2>
    <form th:action="@{/album/new}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="jmeno"><i class="bi bi-journal-album"></i> Název alba:</label>
            <input class="form-control" type="text" id="jmeno" name="nazev" placeholder="Název alba" th:value="${album.nazev}" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="popis"><i class="bi bi-pencil"></i> Popis alba:</label>
            <textarea class="form-control" id="popis" name="popis" th:text="${album.popis}"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="copyright"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"/>
            </svg> Copyright:</label>
            <textarea class="form-control" id="copyright" name="copyright" maxlength="1100" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="coverimage"><i class="bi bi-card-image"></i> Vyber cover alba:</label>
            <input class="form-control" type="file" id="coverimage" name="coverimage" accept="image/*">
        </div>
        <div class="mb-3">
            <p><i class="bi bi-share"></i>  <span>Publikovat album?</span></p>
            <input class="form-check-input" type="radio" id="private-yes" name="publikovano" value="1" th:checked="${album.publikovano == 1}">
            <label class="form-check-label" for="private-yes">Ano</label>
            <input class="form-check-input" type="radio" id="private-no" name="publikovano" value="0" th:checked="${album.publikovano == 0}">
            <label class="form-check-label" for="private-no">Ne</label>
        </div>
        <button type="submit" class="btn btn-success">Vytvořit</button>
        <a class="btn btn-secondary" th:href="@{/index}">Zpět na hlavní stránku</a>
    </form>

</div>
</body>
</html>
