<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>PAWS - album</title>
</head>
<body>
<h2>Uprav album</h2>
<form th:action="@{/album/{albumId}/edit(albumId=${album.albumId})}" method="post" enctype="multipart/form-data">
    <div>
        <label for="jmeno">Název alba:</label>
        <input type="text" id="jmeno" name="nazev" placeholder="Název skladby" th:value="${album.nazev}">
    </div>
    <div>
        <label for="popis">Popis alba:</label>
        <textarea id="popis" name="popis" th:text="${album.popis}"></textarea>
    </div>
    <div>
        <p>Aktuální cover:</p>
        <img th:src="${album.coverImage}" alt="cover image">
        <label for="coverimage">Změň cover alba:</label>
        <input type="file" id="coverimage" name="coverimage" accept="image/*">
    </div>
    <div>
        <p>Publikovat album?</p>
        <label for="private-yes">Ano</label>
        <input type="radio" id="private-yes" name="publikovano" value="1" th:checked="${album.publikovano == 1}">
        <label for="private-no">Ne</label>
        <input type="radio" id="private-no" name="publikovano" value="0" th:checked="${album.publikovano == 0}">
    </div>
    <button type="submit">Vytvořit</button>
    <a class="btn btn-danger" onclick="deleteAlbum()">Smazat</a>
</form>
<a class="btn btn-primary" th:href="@{/index}">Zpět na hlavní stránku</a>
<script th:inline="javascript">
    /*<![CDATA[*/
    function deleteAlbum() {
        let albumId = /*[[${album.albumId}]]*/ null;
        var confirmation = confirm("Opravdu chcete smazat toto album?");
        if (confirmation) {
            fetch('/album/' + albumId, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    window.location.href='/index';
                } else {
                    console.error("shit broke");
                    window.location.href='/index';
                }
            }).catch(error => {
                console.error('Chyba při odesílání DELETE požadavku:', error);
            });
        }
    }
    /*]]>*/
</script>
</body>
</html>
