<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script type="text/javascript" th:src="@{/js/rating.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <meta charset="UTF-8">
    <title th:text="${umelec.jmeno}"></title>
</head>
<body>

<div class="dropdown">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://static.thenounproject.com/png/2894393-200.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong th:remove="tag" sec:authentication="name">thymeleaf</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li th:if="${isUmelec}"><a class="dropdown-item" th:href="@{'/artist/' + ${userId}}">Vaše alba</a></li>
        <li th:if="${isUmelec}"><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/logout">Odhlásit se</a></li>
    </ul>
</div>

<div class="row">
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light navigation-bar">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">PAWS</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/index" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                    Domů
                </a>
            </li>
            <li>

                <a th:if="${isBu}" class="nav-link link-dark" th:href="@{/userProfile}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                    Profil uživatele
                </a>
            </li>
            <li>

                <a th:if="${isBu}" class="nav-link link-dark" th:href="@{/playlist/new}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                    Nový playlist
                </a>
            </li>
            <li>
                <a th:if="${isUmelec}" class="nav-link link-dark" th:href="@{/artistProfile}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Profil umělce
                </a>
            </li>
            <li>
                <a th:if="${isUmelec}" class="nav-link link-dark" th:href="@{/album/new}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Vytvořit album
                </a>
            </li>
            <li>
                <a th:if="${isUmelec}" class="nav-link link-dark" th:href="@{/skladba/new}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                    Nová skladba
                </a>
            </li>
            <li>
                <form class="form-inline my-2 my-lg-0" id="searchForm" method="get" action="/search">
                    <input class="form-control mr-sm-2" name="name" type="search" placeholder="Vyhledat" aria-label="Search">
                    <select name="type" id="searchAction" size="1" onChange="changeAction()">
                        <option value="album" selected="selected">Album</option>
                        <option value="song">Skladba</option>
                    </select>
                    <button class="btn btn-outline-success my-2 my-sm-0 mt-5" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
    <hr>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main-content">
        <div class="d-flex flex-column flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom gap-3">
            <div>
                <img class="mx-auto d-block" style="border-radius: 6.25rem; width: 12rem;" th:src="${umelecInfo.profilovyobrazek}" alt="...">
            </div>
            <div class="mb-3">
                <h3 th:text="${umelec.jmeno}">Artist name</h3>
            </div>
            <div class="mb-3">
                <p th:text="${umelec.popis}">Here will be inserted description</p>
            </div>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Alba</h1>
        </div>

        <div th:if="${loggedInUmelec}" class="col-sm-2" th:each=" album : ${albums}">
            <div class="card sm-2 shadow-sm">
                <img th:src="${album.getCoverImage()}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a th:href="@{'/album/' + ${album.albumId}}"><h5 class="card-title"><span th:text="${album.nazev}"></span></h5></a>
                    <p class="card-text"><span th:text="${album.delka}"></span></p>
                    <a class="btn btn-success" th:href="@{'/album/' + ${album.albumId}}">Load</a>
                </div>
            </div>
        </div>
        <div th:if="${!loggedInUmelec}" class="col-sm-2" th:each=" album : ${publishedAlbums}">
            <div class="card sm-2 shadow-sm">
                <img th:src="${album.getCoverImage()}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a th:href="@{'/album/' + ${album.albumId}}"><h5 class="card-title"><span th:text="${album.nazev}"></span></h5></a>
                    <p class="card-text"><span th:text="${album.delka}"></span></p>
                    <a class="btn btn-success" th:href="@{'/album/' + ${album.albumId}}">Load</a>
                </div>
            </div>
        </div>


        <h2><i class="bi bi bi-star-half"></i>  <span>Recenze</span></h2>
        <div th:each="recenze : ${recenzes}" class="d-flex gap-3">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><span th:text="${recenze.nadpis}"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span th:utext="${'&#9733;'.repeat(recenze.pocethvezd)}"></span></h6>
                    <p class="card-text"><span th:text="${recenze.komentar}"></span></p>
                </div>
            </div>

        </div>

        <form th:if="${isBu}" th:action="@{'/artist/' + ${umelec.umelecId}}" method="post">
            <div class="bg-light">
                <div class="mb-3">
                    <label for="nadpis" class="form-label">Pojmenujte komentář:</label>
                    <input class="form-control" type="text" id="nadpis" name="nadpis" placeholder="Název">
                </div>
                <div class="mb-3">
                    <label for="komentar" class="form-label">Popisek:</label>
                    <input class="form-control" type="text" id="komentar" name="komentar" placeholder="Jaký je váš názor na album?">
                </div>
                <div class="mb-3">
                    <label for="pocethvezd" class="form-label">Vaše hodnocení</label>
                    <div class="rating">
                        <span class="star" data-value="1" style="font-size:24px;">&#9733;</span>
                        <span class="star" data-value="2" style="font-size:24px;">&#9733;</span>
                        <span class="star" data-value="3" style="font-size:24px;">&#9733;</span>
                        <span class="star" data-value="4" style="font-size:24px;">&#9733;</span>
                        <span class="star" data-value="5" style="font-size:24px;">&#9733;</span>
                    </div>
                    <input type="hidden" id="pocethvezd" name="pocethvezd">
                </div>

                <button type="submit" class="btn btn-primary">Vytvořit komentář</button>
            </div>
        </form>
    </main>
</div>
<style>
    .stars {
        font-size: 24px;
    }

    .star {
        cursor: pointer;
    }

    .star.selected {
        color: #0048ff;
    }
    .add-song-form {
        display: flex;
        padding: 0.5rem 1rem;
    }
    .navigation-bar{
        position: fixed;
        height: 100%;
        width: 280px;
    }
    main{
        margin: 0 0 6rem 280px;
    }
    .container{
        height: 3.3rem;
    }
    .audio-zone{
        display: flex;
    }
    .row{
        margin-right: 6.25rem !important;
    }
    .col-sm-2{
        margin-bottom: 1rem;
        display: inline-flex;
        margin: 0 1rem 1rem 0;
        width: 14rem;
    }
    .card-img-top{
        width: 100%;
        object-fit: cover;
    }
    .dropdown{
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        background: #0d6efd;
        padding: 0.4rem 0.7rem;
        border-radius: 5px;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>