<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${playlist.getNazev()}"></title>
</head>
<body>
<div th:if="${playlist}">
    <h2 th:text="${playlist.nazev}"></h2>
    <p>Popis: <span th:text="${playlist.popis}"></span></p>
    <img th:src="${playlist.getCoverImage()}" alt="cover image">
    <p>Délka: <span th:text="${playlist.delka}"></span></p>

    <h4>Songlist</h4>
    <table>
        <thead>
        <tr>
            <th>Název</th>
            <th>Umělec</th>
            <th>Album</th>
            <th>Délka</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the list of songs and display them -->
        <!--<tr th:each="skladba : ${skladby}">
            <td th:text="${skladby.}"></td>
            <td th:text="${song.artist}"></td>
            <td th:text="${song.duration}"></td>
        </tr> -->
        </tbody>
    </table>
</div>
<a th:href="@{'/playlist/' + ${playlist.playlistId} + '/edit'}">Upravit</a>
</body>
</html>