<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">>
<head>
    <title>Registration</title>
</head>
<body>
<h1>Registrační formulář</h1>
<form th:action="@{registration}" method="post">
    <h1>Zaregistrovat se</h1>
    <div>
        <label for="username">Uživatelské jméno</label>
        <div>
            <input type="text" id="username" name="username" placeholder="Uživatelské jméno">
        </div>
    </div>
    <div>
        <label for="username">Email</label>
        <div>
            <input type="text" id="email" name="email" placeholder="muj@email.ukazka">
        </div>
    </div>
    <div>
        <label for="password">Heslo</label>
        <div>
            <input type="password" id="password" name="password" placeholder="Heslo">
        </div>
    </div>
    <div>
        <label for="datumnarozeni">Datum narození</label>
        <div>
            <input type="date" id="datumnarozeni" name="datumnarozeni">
        </div>
    </div>
    <div>
        <label for="mesto">Město</label>
        <div>
            <input type="text" id="mesto" name="mesto">
        </div>
    </div>
    <div>
        <label for="ulice">Ulice</label>
        <div>
            <input type="text" id="ulice" name="ulice">
        </div>
    </div>
    <div>
        <label for="cislopopisne">Číslo popisné</label>
        <div>
            <input type="text" id="cislopopisne" name="cislopopisne">
        </div>
    </div>
    <div>
        <label for="psc">PSČ</label>
        <div>
            <input type="text" id="psc" name="psc">
        </div>
    </div>
    <div>
        <input type="submit" value="Registrace">
    </div>
</form>
</body>
</html>