<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <meta charset="UTF-8">
    <title>Vyhledávání</title>
</head>
<style>
    .music-player {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    }
</style>
<body>
<i class="bi bi-music-note-list"></i>

<div class="dropdown">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://static.thenounproject.com/png/2894393-200.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong th:remove="tag" sec:authentication="name">thymeleaf</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="/index">Zatim nic</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/logout">Odhlásit se</a></li>
    </ul>
</div>

<div class="row">
    <!-- Sidebar -->

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light navigation-bar">
        <a href="/index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">PAWS</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/index" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                    Domů
                </a>
            </li>
            <li>

                <a th:if="${isBu}" class="nav-link link-dark" th:href="@{userProfile}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                    Profil uživatele
                </a>
            </li>
            <li>

                <a th:if="${isBu}" class="nav-link link-dark" th:href="@{playlist/new}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                    Nový playlist
                </a>
            </li>
            <li>
                <a th:if="${isUmelec}" class="nav-link link-dark" th:href="@{artistProfile}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Profil umělce
                </a>
            </li>
            <li>
                <a th:if="${isUmelec}" class="nav-link link-dark" th:href="@{album/new}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Vytvořit album
                </a>
            </li>
            <li>
                <a th:if="${isUmelec}" class="nav-link link-dark" th:href="@{/skladba/new}">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                    Nová skladba (X)
                </a>
            </li>
            <li>
                <form class="form-inline my-2 my-lg-0" id="searchForm" method="get" action="/search">
                    <input class="form-control mr-sm-2" name="name" type="search" placeholder="Vyhledat" aria-label="Search">
                    <select name="type" id="searchAction" size="1" onChange="changeAction()">
                        <option value="album" selected="selected">Album</option>
                        <option value="song">Skladba</option>
                    </select>
                    <button class="btn btn-outline-success my-2 my-sm-0 mt-5" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
    <hr>

    <!-- Main content area -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main-content">
        <div class="floating-list-player">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Vyhledávání:</h1>
            </div>
            <div class="song-area">
            </div>
        </div>


       <div th:if="${isAlbum}" th:each=" album : ${albums}" class="col-sm-2" style="margin-bottom: 6rem;">
           <div class="card sm-2 shadow-sm">
               <img th:src="${album.getCoverImage()}" class="card-img-top" alt="...">
               <div class="card-body">
                   <a th:href="@{'/album/' + ${album.albumId}}"><h5 class="card-title"><span th:text="${album.nazev}"></span></h5></a>
                   <p class="card-text"><span th:text="${album.delka}"></span></p>
                   <button class="btn btn-success" th:onclick="'playAlbum('+${album.albumId}+')'">Load</button>
               </div>
           </div>
       </div>
        <div th:if="${isSkladba}" th:each=" skladba : ${skladby}" class="col-sm-2" style="margin-bottom: 6rem;">
            <div class="col-sm-2">
                <div class="card sm-2 shadow-sm">
                    <img th:src="${skladba.coverimage}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${skladba.jmeno}"></h5>
                        <p class="card-text" th:text="${skladba.umelec}"></p>
                        <button class="btn btn-success"  th:attr="data-audioslozka=${skladba.audioslozka}, data-jmeno=${skladba.jmeno}, data-umelec=${skladba.umelec}" onclick="populateAudioPlayer(this.dataset.audioslozka, this.dataset.jmeno, this.dataset.umelec)">Play</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

<div class="music-player bg-dark-subtle">
    <div class="container">
        <div class="audio-zone">

            <div class="col-md-3">
                <!-- Song Info -->
                <div class="song-info">
                    <h6>%Song Title%</h6>
                    <p>%Artist Name%</p>
                </div>
            </div>


            <div class="col-md-9">
                <audio class="col-md-9 audio-player" id="music-player" controls="">
                    <source>
                </audio>
            </div>

        </div>
    </div>
</div>
<style>
    .navigation-bar{
        position: fixed;
        height: 100%;
        width: 280px;
    }
    main{
        margin: 0 0 6rem 280px;
    }
    .container{
        height: 3.3rem;
    }
    .audio-zone{
        display: flex;
    }
    .row{
        margin-right: 6.25rem !important;
    }
    .col-sm-2{
        margin-bottom: 1rem;
        display: inline-flex;
        margin: 0 1rem 1rem 0;
        width: 14rem;
    }
    .card-img-top{
        width: 100%;
        object-fit: cover;
    }
    .dropdown{
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        background: #0d6efd;
        padding: 0.4rem 0.7rem;
        border-radius: 5px;
    }
    audio::-webkit-media-controls-panel {
        background: #ced4da;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>